<nav class="navbar navbar-light" style="background-color: rgba(100, 8, 248, 0.11); ">
    <div class="nav">
        <a class="nav-link" routerLink="/films" aria-current="page" href="#" routerLinkActive="active">Films</a>
        <a class="nav-link" routerLink="/directors" aria-current="page" href="#" routerLinkActive="active">Directors</a>
        <a class="nav-link" routerLink="/delete-film" aria-current="page" href="#" routerLinkActive="active">Delete Film</a>
        <a class="nav-link" routerLink="/update-details" aria-current="page" href="#" routerLinkActive="active">Update Details</a>
    </div>

            
</nav>

<router-outlet></router-outlet>

